NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_PROJECT_URL=
SUPBABSE_REST_URL=
SUPABASE_DATABASE_URL=
SUPABASE_AUTH_KEY_PUBLIC=
SUPABASE_AUTH_KEY_SECRET=
STORAGE_S3=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_REGION=local